<div class="about-section">
  <h1>Swetha Mobiles</h1>
  <p>
    Swetha mobiles is a leading mobile seller in the market.We have been in the
    market from 40 years.We have branches all over India in all the major
    metropolitan cities like Hyderabd, Mumbai, Delhi,Kolkata, Bangalore.We are
    spreading our wings and establishing new branches in smaller cities in
    India.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row cardpadding">
  <div class="column">
    <div class="card">
      <img
        src="https://th.bing.com/th/id/OIP.IYgHO2yV72cL2LKcrq8fJQHaHa?rs=1&pid=ImgDetMain"
        alt="Chiru"
      />
      <div class="">
        <h2>K.Chiranjeevi</h2>
        <p class="title">CEO & Founder</p>
        <p>MBA Stanford University</p>
        <p>k.chiru@swetha.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://imagevars.gulfnews.com/2020/01/26/TAB-Mahesh-Babu1-1580037946572_16fe199bccd_large.jpg"
        alt="Mahesh"
      />
      <div class="">
        <h2>G.Mahesh</h2>
        <p class="title">Managing Director</p>
        <p>MBA Oxford University</p>
        <p>g.mahesh@example.com</p>
      </div>
    </div>
  </div>
</div>
