<ng-container>
  <div class="modal" id="userRegistrationModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">User registration form</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="input-group">
              <div class="col-lg-6">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="E-mail"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            [disabled]="userForm.invalid"
            class="btn btn-warning"
            data-bs-dismiss="modal"
            (click)="checkUserAccess()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
