<form [formGroup]="newUserForm" class="layout">
  <h2>New user registration form</h2>
  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" class="form-control" formControlName="firstName" />
  </div>
  <div class="form-group pt-4">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastName" />
  </div>
  <div class="form-group pt-4">
    <label>Gender</label>
    <select class="form-control" formControlName="genderSelection">
      <option [value]=""></option>
      <option *ngFor="let gender of genders" [value]="gender">
        {{ gender }}
      </option>
    </select>
  </div>
  <div class="form-group pt-4">
    <label>Age</label>
    <input
      type="number"
      class="form-control"
      formControlName="age"
      min="18"
      max="100"
    />
  </div>
  <div class="form-group pt-4">
    <label>Email</label>
    <input
      type="email"
      class="form-control"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      formControlName="email"
    />
  </div>
  <div class="form-group pt-4">
    <label>Contact Number</label>
    <input
      type="text"
      class="form-control"
      formControlName="phone"
      minlength="10"
    />
  </div>
  <div class="form-group pt-4">
    <label>Date of birth</label>
    <input type="date" class="form-control" formControlName="dateOfBirth" />
  </div>
  <div class="submit pt-4">
    <button
      class="btn btn-primary"
      (click)="createNewUser()"
      [disabled]="newUserForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
