<div class="choose-phone-layout">
  <div class="row">
    <div class="col-2">
      <h2 style="margin-left: 32px; margin-top: 64px">Filter</h2>
      <div>
        <div [formGroup]="brandSelectionForm">
          <div class="dropdown">
            <select style="margin-left: 32px" formControlName="brandSelection">
              <option [value]=""></option>
              <option *ngFor="let brand of brandsList" [value]="brand">
                {{ brand }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="cardpadding">
        <h1>MOBILES</h1>
        <div class="column" *ngFor="let image of filteredList">
          <div class="card">
            <img
              src="{{ image.url }}"
              alt="{{ image.alt }}"
              height="200px"
              width="250px"
            />
            <div style="padding: 30px">
              <h2>{{ image.title }}</h2>
              <p>Storage : {{ image.storage }}</p>
              <p>RAM : {{ image.ram }}</p>
              <p>Color : {{ image.color }}</p>
              <button
              [routerLink]="['/build-your-plan']"
                [queryParams]="{
                  title: image.title,
                  ram: image.ram,
                  storage: image.storage,
                  color: image.color
                }"
                queryParamsHandling="merge"
                class="btn btn-primary"
                style="width: 100%"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
