.choose-phone-layout {
  .cardpadding {
    padding-left: 100px;
    .column {
      float: left;
      width: min-content;
      padding: 0 8px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }

    .about-section {
      padding: 40px;
    }
  }
}
