<div class="row">
  <div class="col-8">
    <mat-stepper orientation="vertical" #stepper>
      <mat-step>
        <div>
          <ng-template matStepLabel>Sim Selection</ng-template>
          <r-sim-selection></r-sim-selection>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <ng-template matStepLabel>Plan Selection</ng-template>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Proceed to checkout</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="col-4"></div>
</div>
